{% extends 'base.html.twig' %}


{% block title %}App!{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron mt-3">
            <h1>Import products</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
